html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: none !important;
}

.r3f-canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
  touch-action: none !important;
}

.grabbing, .grabbing * {
  cursor: grabbing !important;
}
