html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: auto !important;
}

/* Полное отключение взаимодействия */
canvas.pointer-none {
  pointer-events: none !important;
}

/* Режим фокуса: отключаем скролл для работы OrbitControls */
canvas.no-scroll {
  touch-action: none !important;
  pointer-events: auto !important;
}

.r3f-canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.grabbing, .grabbing * {
  cursor: grabbing !important;
}
